.selector-for-some-widget {
    box-sizing: content-box;
}
.navbar-nav .nav-item {
  border: 1px solid white; 
  margin-right: 20px;
  margin-left: 20px;
}
.table-styled th, .table-styled td {
  border: 1px solid #000;
  padding: 5px;
  background-color: white;
}

.add-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.add-container form {
  display: flex;
  flex-direction: column;
}

.add-container label {
  margin-right: 10px;
}

.add-container select {
  margin-bottom: 10px;
}

.custom-dropdown-button {
  background-color: transparent; /* Match the background color of other buttons */
  border: none; /* Remove border if your buttons don't have one */
  color: black; /* Match the text color */
  text-align: left; /* Align text like in other dropdown items */
  width: 100%; /* Make the button stretch the full width of the dropdown */
  padding: .25rem 1.5rem; /* Adjust padding to match other items, if needed */
  font-size: 1rem; /* Match font size with other buttons */
}

.custom-dropdown-button:hover {
  background-color: #f8f9fa; /* Change to the hover color of your other buttons */
  color: black; /* Change text color on hover if needed */
}
