.selector-for-some-widget {
    box-sizing: content-box;
}
.navbar-nav .nav-item {
  border: 1px solid white; 
  margin-right: 20px;
  margin-left: 20px;
}
.table-styled th, .table-styled td {
  border: 1px solid #000;
  padding: 5px;
  background-color: white;
}

.add-container {
  display: flex;
  align-items: center;
  margin: 20px;
}

.add-container form {
  display: flex;
  flex-direction: column;
}

.add-container label {
  margin-right: 10px;
}

.add-container select {
  margin-bottom: 10px;
}

.custom-dropdown-button {
  background-color: transparent; 
  border: none; 
  color: black;
  text-align: left;
  width: 100%;
  padding: .25rem 1.5rem; 
  font-size: 1rem; 
}

.custom-dropdown-button:hover {
  background-color: #f8f9fa;
  color: black; 
}


.table-container {
  display: flex;
  flex-direction: column;
  min-height: 300px; 
}

.income-text {
  color: green;
}

.expenses-text {
  color: red;
}